<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>课程详情</title>
        <script src="../js/jquery-1.12.4.js" type="text/javascript" charset="utf-8"></script>
        <script type="text/javascript" src="../js/vue-2.4.0.js" ></script>
        <script type="text/javascript" src="../js/vue-resource-1.3.4.js" ></script>
		<script src="../js/bootstrap-table.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/bootstrap-table-zh-CN.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/bootstrap-table-export.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/tableExport.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="../css/bootstrap-table.css"/>
		<link rel="stylesheet" type="text/css" href="../css/bootstrap.css"/>
		<link rel="stylesheet" href="../css/CourseDetails.css" />
	</head>
	<body>
		<div class="box">
			<div class="header">
				<img src="../img/leftHeader.png" class="left_header" />
				<img src="../img/rightHeader.png" class="right_header"  />
			</div>
			<div class="middle">
				<div class="right_box">
					<p>
						<span style="font-size:32px; color: #006600; ">数据结构</span>
						<span style="color:#70B603;">考勤信息</span>
						<span class="courseManageAndChange">
							<a href="http://47.101.135.232:8080/check_by_face_controller/jsp/homePage.html" target="_blank">首页</a>
							<a id="creatClass_one" href="#">新建班级</a>
							<a href="http://47.101.135.232:8080/check_by_face_controller/jsp/AttendanceManagement.html" target="_blank" >考勤管理</a	
						</span>
					</p>
					<hr color=#488f53 SIZE=2 style="margin-top: 5px;"/>
					<div class="classManage_box">
						<div class="classManage_title">
							<p>班级管理</p>
						</div>
						<div class="classList" id="classList">
							<ul id="classList_ul" class="classList_ul">
								<!--<li class="checket" id="aaa">17物联网</li>-->
								<!--<li id="">18物联网</li>-->
							</ul>
							<p class="creatClass" id="creatClass">+新建班级</p>
						</div>
					</div>
					
					<div class="addCourse" id="addCourse">
						<div class="headline">
							<h4>班级名称</h4>
							<span class="close" id="close">
								<img src="../img/close.png" />
							</span>
						</div>
						<div class="matter">
							<form action="CourseDetails.html" method="get" name="newClass">
							<span>班级名称：<input id="className" name="className" type="text" /></span>
							<button type="submit" class="btn1" id="btn1">完成</button>
							<button type="button" class="btn2" id="btn2">取消</button>
							</form>
						</div>
					</div>
				    
				    <div class="table_box">
				    	<div class="function_Line">
				    		<button type="button" class="btn btn-success" id="creatStudent">添加学生</button>	
				    		<button type="button" class="btn btn-success" id="btnExport">导出学生</button>
				    	</div>
				    	<div class="tb_box">
				    		<table id="td"></table>
				    	</div>
				        <br />
				    	<span>
				    		总共<span id=""></span> 条记录  &nbsp;&nbsp;
				    		<!--<img id="btnExport" src="../img/excel.gif" class="excelIMG"/>导出Excel表格-->
				    	</span>
				    	
				    </div>
				    <div class="addStudent" id="addStudent">
						<div class="studentName">
							<h4>从学生库内导入</h4>
							<span class="close" id="close_addStudent">
								<img src="../img/close.png" />
							</span>
						</div>
						<div class="matter" id="app">
							<select @change="y1($event)">
								<option v-for="(item,i1) in list1" key="i1" >{{item}}</option>
							</select>
							<select  @change="y2($event)">
								<option v-for="(item,i2) in list2" key="i2" >{{item}}</option>
							</select>
							<select  @change="y3($event)">
								<option v-for="(item,i3) in list3" key="i3" >{{item}}</option>
							</select>
							<!--<button type="button" class="btn btn-primary dropdown-toggle"  data-toggle="dropdown" ></button>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="#">Link 1</a>
								<a class="dropdown-item" href="#">Link 1</a>
								<a class="dropdown-item" href="#">Link 1</a>
							</div>-->
							<div class="addStudent_table_box">
								<table id="addStudent_table">
								</table>
							</div>
							<button type="submit" class="btn3" id="btn3">完成</button>
							<button type="button" class="btn4" id="btn4">取消</button>
						</div>
					</div>
				</div>
			</div>
			<div class="nav">
				<p>@智能考核系统</p>
			</div>
		</div>
		<script type="text/javascript" src="../js/CourseDetails.js" ></script>
		<script>
			
			var vm = new Vue({
				el:'#app',
				data:{
					list1:'',
					list2:'',
					list3:''
				},
				methods:{
					y1(e){
						this.$http.post('http://47.101.135.232:8080/check_by_face_controller/teacher/findMajorByDepartmentName.do',{department:e.target.value},{emulateJSON:true}).then(result=>{
						this.list2 = result.body;
					});
					},
					y2(e){
						this.$http.post('http://47.101.135.232:8080/check_by_face_controller/teacher/findAllClazzByMajor.do',{major:e.target.value},{emulateJSON:true}).then(result=>{
						this.list3 = result.body;
					});
					},
					y3(e){
                        this.$http.post('http://47.101.135.232:8080/check_by_face_controller/teacher/findStudentByClazzName.do',{class_name:e.target.value},{emulateJSON:true}).then(result=>{
                        result.body;
                        var value = e.target.value;
                        var urlrr = "http://47.101.135.232:8080/check_by_face_controller/teacher/findStudentByClazzName.do?class_name="+value;
	                    $("#addStudent_table").bootstrapTable('refresh',{url:urlrr});
                        });
					}
				},
				mounted(){
					//http://192.168.0.4:8899/check_by_face_controller/teacher/findCourseByTid.do
					this.$http.post('http://47.101.135.232:8080/check_by_face_controller/teacher/findDepartment.do',{},{emulateJSON:true}).then(result=>{
					this.list1 = result.body;
				});
				}
			});
		</script>
	</body>
</html>