<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>例子</title>
		<style>
			.box{
				width: 100px;
				height: 100px;
				background-color: red;
			}
			.box2{
				width: 100px;
				height: 100px;
				background-color: pink;
			}
		</style>
	</head>
	<body>
		<ul id="app">
			<li v-for='item in items' @mouseenter="toggle(item)" @mouseleave="toggle(item)">
				<span v-if="item.show">{{item.content}}</span>
			</li>
		</ul>
		<!--<div id="app">
			<div class="box" @mouseenter="enter" @mouseleave="leave">
				
				<button v-show="flag" @click="show">登录</button>
				
			</div>
			<div class="box2" v-show="change">
					
				</div>
		</div>-->
		
		<script type="text/javascript" src="../js/vue-2.4.0.js" ></script>
		<script>
			var vm = new Vue({
				el:"#app",
				data: function(){
					return{
						items:[{
							content:'1 item',
							show:true
						},{
							content:'1 item',
							show:true
						},{
							content:'1 item',
							show:true
						}]
					}
				},
//				data:{
//					flag:false,
//					change:false
//				},
				methods:{
					toggle:function(item){
						item.show = !item.show;
					}
//					enter(){
//						this.flag = true;
//					},
//					leave(){
//						this.flag = false;
//					},
//					show(){
//						this.change = true;
//					}
				}
			});

	 	</script>
	</body>
</html>
