<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>课程首页</title>
		<link rel="stylesheet" href="../css/homePage.css" />
		<script type="text/javascript" src="../js/vue-2.4.0.js" ></script>
		<script type="text/javascript" src="../js/vue-resource-1.3.4.js" ></script>
		<script type="text/javascript" src="../js/jquery-1.12.4.js" ></script>
	</head>
	<body>
		<div id="app">
		<div class="box">
			<div class="header">
				<img src="../img/leftHeader.png" class="left_header" />
				<img src="../img/rightHeader.png" class="right_header"  />
			</div>
			<div class="middle">
				<div class="left_box">
					<div class="head_portrait">
						<img src="../img/touxiang.jpg" />
					</div>
					<div class="menu">
						<p style="color: #488f53;" >{{msg}}</p>
						<a href="http://47.101.135.232:8080/check_by_face_controller/jsp/homePage.html">我的课程</a>
						<a href="http://47.101.135.232:8080/check_by_face_controller/jsp/basics.html">修改资料</a>
						<a href="http://47.101.135.232:8080/check_by_face_controller/jsp/changePwd.html">密码管理</a>
						<a href="http://47.101.135.232:8080/check_by_face_controller/jsp/changeHeadImg.html">修改头像</a>
						<a href="http://47.101.135.232:8080/check_by_face_controller/jsp/register.html" @click="exit">退出登录</a>
					</div>
				</div>
				
				<div class="right_box">
			        <h2>我的课程</h2>
			        <a href="CreateCourse.html" target="_blank">
			        	<img src="../img/appendClassTwo.png"/>
			        </a>
					<hr color=#488f53 SIZE=2/>
					<div class="ulDiv">
						<ul>
							<li v-for="(item,i) in list" :key="i">
								<div class="photo" @mouseenter="enter(item)" @mouseleave="leave(item)">
									<button type="button"  v-show="flag" @click="show">退课</button>
									<img :src="'http://47.101.135.232:8080/check_by_face_controller/'+list[i].course_picture" class="coursePic"  @click="bbb(list[i].course_id)" />
								</div>
								<div class="intro">
									<p style="font-size: 20px;  color: #488f53;" >{{list[i].course_name}}</p>
									<p style="font-size: 15px;  color: #77c198;" >{{list[i].teachers.t_name}}</p>
								</div>
							</li>
							<!--<li>
								<div class="photo"  @mouseenter="enter" @mouseleave="leave">
									<button type="button" v-if="flag" @click="show">退课</button>
									<img src="../img/coursepicture/05941c23031448b4b440840f0e2ab727_ncre3-2013.jpg" />
								</div>
								<div class="intro">
									<p style="font-size: 20px;  color: #488f53;" ></p>
								</div>
							</li>-->
							<li>
								<div class="append" @click="abc()">
									<img src="../img/appendClassOne.png" />
								</div>								
							</li>
						</ul>
						<div class="addCourse" v-show="change">
							<div class="headline">
								<h4>退课</h4>
							</div>
							<div class="matter">
								<p>您确定要退出此课程？退出后课程记录将无法恢复！</p>
								<button type="submit" class="btn1" @click="yincang(list[i].course_id)">确定</button>
								<button type="button" class="btn2" @click="hide">取消</button>
							</div>
						</div>					
					</div>
				</div>
			</div>
			<div class="nav">
				<p>@智能考勤系统</p>
			</div>
		</div>	
		</div>
		<script>
			var vm = new Vue({
				el:'#app',
				data:{
					msg:'',
					list:'',
					flag:false,
					change:false,	
				},
				methods:{
					enter(){
						this.flag = true;
					},
					leave(){
						this.flag = false;
					},
					show(){
						this.change = true;
					},
					yincang(i){
						this.$http.post('http://47.101.135.232:8080/check_by_face_controller/teacher/jumpToCourse.do',{course_id:i},{emulateJSON:true}).then(result=>{	
							this.change = false;
						});
					},
					hide(){
						this.change = false;
					},
					exit(){
						alert("退出成功");
					},
					abc(){
						window.open('http://47.101.135.232:8080/check_by_face_controller/jsp/CreateCourse.html');
					},
					bbb(i){
						this.$http.post('http://47.101.135.232:8080/check_by_face_controller/teacher/jumpToCourse.do',{course_id:i},{emulateJSON:true}).then(result=>{
                            window.location.href="http://47.101.135.232:8080/check_by_face_controller/jsp/CourseDetails.html";
						});
					}
				},
				mounted(){
					//http://192.168.0.4:8899/check_by_face_controller/teacher/findCourseByTid.do
					this.$http.post('http://47.101.135.232:8080/check_by_face_controller/teacher/findCourseByTid.do',{},{emulateJSON:true}).then(result=>{
					this.list = result.body;
					this.msg = this.list[0].teachers.t_name;
				});
				}
           });
		</script>
	</body>
</html>
